name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
      - name: Run PyLint
        run: pipx run --python=python hatch run pylint:lint --output-format=github

  checks:
    name: Check Python on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.10
            3.11
            3.12
            3.13
          allow-prereleases: true

      - name: Setup uv
        uses: yezz123/setup-uv@v4

      - name: Install hatch
        run: uv pip install --system hatch

      - name: Test package (all Pythons)
        run: hatch test -a

  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: hynek/build-and-inspect-python-package@v2

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup uv
        uses: yezz123/setup-uv@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install hatch
        run: uv pip install --system hatch

      - name: Linkcheck
        run: hatch run docs:linkcheck

      - name: Build docs with warnings as errors
        run: hatch run docs:html -W

      - name: Verify no changes required to API docs
        run: |
          hatch run api-docs:build
          git diff --exit-code

  action:
    name: Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run repo-review action
        uses: ./
        with:
          plugins: sp-repo-review==2024.08.19
